.top {
  min-width: 800px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

header {
  width: 100%;
}

.header-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 0.7em;
}

.header-section {
  background-color: gray;
  border-radius: 12px;
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.header-section-div {
  display: flex;
  width: 90%;
  height: 100%;
  align-items: center;
  gap: 1vw;
  margin-left: 1em;
}

.header-section-div>input {
  height: 85%;
  width: 35%;
  border-radius: 10px;
  border: transparent;
  padding-top: 0;
  padding-bottom: 0;
}

.header-section>button {
  width: 15%;
  height: 85%;
  border: transparent;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 1em;
  padding-top: 0;
  padding-bottom: 0;
}

.main-article {
  display: block;
  margin-top: 1em;
}

.main-article-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;

  border: 0;
  vertical-align: top;
}

.main-article-section > p {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.main-article-section > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 23px 14px;
}

.main-article-section > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;

  width: 270px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;

  word-break: break-word;
  text-align: center;
}

.li-top {
  width: 90%;
  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 10px;

  padding-top: 10px;
}

.li-title {
  font-size: 1.4rem;
  font-weight: 900;

  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.li-content {
  font-size: 1.1rem;

  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.li-bottom {
  width: 90%;
  height: 30%;

  display: flex;
  justify-content: center;

  gap: 10px;
  
  padding-bottom: 20px;
}

.li-delete-btn {
  width: 50%;
  background-color: transparent;

  border: 2px solid red;
  border-radius: 10px;

  cursor: pointer;
}

.li-toggle-btn {
  width: 50%;
  background-color: transparent;

  border: 2px solid green;
  border-radius: 10px;

  cursor: pointer;
}

.detail-top {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-middle {
  display: table-cell;
  vertical-align: middle;
  width: 600px;
  height: 400px;
  border: 1px solid rgb(238, 238, 238);
}

.detail-header {
  display: flex;
  margin: 10px;
  gap: 200px;
}